<!DOCTYPE html>
<html>
<head>
  <title>Playlistr</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end -%>
<% if !current_user %>
<p><%= link_to 'Login', login_path %></p>
<% end %>
<% if current_user %>
<p><%= link_to 'Logout', logout_path %></p>
<% end %>
<%= link_to 'Home' , featured_lists_path %>

<%= yield %>

</body>
</html>
