<%= form_tag('/run_lookup', method: 'post') do %>
<div class="field">
    <%= label_tag :name, 'Name' %><br>
    <%= select_tag(:name, options_for_select([['RA Top 50'], ['Beatport Top 50']])) %>
  </div>
  <p>
  <div class="field">
    <%= label_tag :month, 'Month' %>
    <%= select_tag(:month, options_for_select( month_options )) %>
  </div></p>
<p><div class="field">
    <%= label_tag :year, 'Year' %>
    <%= select_tag :year, options_for_select(year_options.reverse)%>
</div></p>
  <div class="actions">
    <%= submit_tag "Build New List",  id: 'list_search' %>  Please be patient... this could take a few minutes!
  </div></p>
<% end %>
