Welcome to Playlis.r!

<p><%= link_to 'User Account', users_path %></p>

<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Credit</th>
      <th>Admin</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.admin ? "Yes" : "No" %></td>
        <td><%= link_to 'Show', user %></td>
        <% if current_user && current_user.admin %>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
      <td><%= link_to 'View Playlists', user_playlists_path(user) %></td>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
