<%= form_for(@playlist) do |f| %>
<div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.text_field :month %>
    <%= f.select :month, Playlists::MONTHS, :to_s, :to_s %>
  </div>
<div class="field">
    <%= f.text_field :year %>
    <%= f.select :year, Playlists::YEARS %>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
