<%= form_for(@featured_list) do |f| %>
<div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <p>
  <div class="field">
    <%= f.label :month %>
    <%= f.select :month, FeaturedList::MONTHS %>
  </div></p>
<p><div class="field">
    <%= f.label :year %>
    <%= f.select :year, FeaturedList::YEARS %>
</div></p>

  <div class="actions">
    <%= f.submit %>
  </div></p>
<% end %>
